.historia{
    background-image: linear-gradient(to bottom right, rgb(129, 129, 129), rgb(71, 71, 71));
    margin-top: 3%;
    border-radius: 5px;
    height: 40%;
    border-width: 0;
}

.cardHistoria{
    margin-top: 2%;
    background-image: linear-gradient(to bottom right, rgb(129, 129, 129), rgb(71, 71, 71));
    border-width: 0;
    color: #FFF;
    
}

.fundador{
    text-align: center;
    margin-top: 4%;
}

.fundadores{
    margin-top: 3%;
    text-align: center;
    margin-bottom: 10%;
}