.cardPosition {
    margin-top: 5.1%;
}

.btnCard {
    width: 20%;
    height: 30%;
    margin-left: 75%;
}

.backProdutos {
    margin-top: 4%;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #FFF, #000);
}

.cardsDeck {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}